# pycharm
.idea

# python
.venv
__pycache__

# allure
allure-results
allure-report
inner_logs

# testing artifacts
*.html
*.log

tracing
htmlcov


#coverage
coverage-results
coverage-history.json
coverage-report.json
coverage.html


# lesson folders
WebSocket_server
TCP_server
GRPC_server
LessonFiles